<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PayrollSystem</display-name>
  <servlet>
    <servlet-name>addEmployeeServlet</servlet-name>
    <servlet-class>addEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateEmployeeServlet</servlet-name>
    <servlet-class>updateEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>calculateServlet</servlet-name>
    <servlet-class>calculateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveAllowanceServlet</servlet-name>
    <servlet-class>SaveAllowanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalculateDeductionServlet</servlet-name>
    <servlet-class>CalculateDeductionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDeductionServlet</servlet-name>
    <servlet-class>SaveDeductionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAllowanceServlet</servlet-name>
    <servlet-class>CheckAllowanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchPayServlet</servlet-name>
    <servlet-class>SearchPayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakePaymentServlet</servlet-name>
    <servlet-class>MakePaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExpenditureReportServlet</servlet-name>
    <servlet-class>ExpenditureReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>DeleteEmployeeServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SearchSalaryServlet</servlet-name>
    <servlet-class>SearchSalaryServlet</servlet-class>
  </servlet>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>